<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Student</title>
</head>
<body>
    <form action="{% url 'updatedatastudent' updateid.studentid %}" method="post">
        {% csrf_token %}
        <h3>Student ID</h3><br>
        <input type="text" name="studentid" value="{{updateid.studentid}}" readonly><br>
        
        <h3>Student Name</h3><br>
        <input type="text" name="studentname" value="{{updateid.studentname}}"><br>

        <h3>Student Email</h3><br>
        <input type="text" name="studentemail" value="{{updateid.studentemail}}"><br>

        <h3>Student Age</h3><br>
        <input type="text" name="studentage" value="{{updateid.studentage}}"><br>
        
        <h3>Mentor</h3>
        <select name="mentorid" id="">
            {% for n in mymentor %}
            <option value="{{n.mentorid}}">{{n.mentorid}} - {{n.mentorname}}</option>
            {% endfor %}
        </select>

        <br><br>
        <input type="submit" value="UPDATE">
    </form>
</body>
</html>
