<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Mentor</title>
</head>
<body>
    <form action="updatedata/{{updateid.mentorid}}" method="post">
        {% csrf_token %}
        <h3>Enter Mentor ID</h3><br>
        <input type="text" name = "mentorid" value = "{{updateid.mentorid}}" disabled = "false"><br>
        <h3>Enter Mentor Name</h3><br>
        <input type="text" name = "mentorname" value = "{{updateid.mentorname}}"><br>
        <h3>Enter Mentor Email</h3><br>
        <input type="text" name = "mentoremail" value = "{{updateid.mentoremail}}"><br>
        <br>
        <input type="submit" value="UPDATE">
</body>
</html>